@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
}
.div-container {
  @apply px-4 md:px-[78px] lg:px-[120px] max-w-[1536px] mx-auto;
}
.title {
  @apply text-[32px] md:text-[40px] font-extrabold md:font-bold text-primary_400;
}
.input-calc {
  @apply rounded-md px-[10px] py-[14px] ring-2 ring-transparent hover:ring-primary_300 focus:ring-primary_300 
        transition-all duration-300 w-full max-w-[552px] md:max-w-full lg:max-w-[552px] outline-none 
         focus-within:ring-primary_300 active:ring-primary_300 text-primary_700;
}
